* {
	box-sizing: border-box;
}

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

body {
	font-family: sans-serif;
	color: #333;
	position: relative;
}

div.message {
	position: relative;
	width: 300px;
    height: 300px;
	text-align: center;
    padding: 0;
    margin: 30px auto;
}

.message > img.logo {
    width: 200px;
    height: 200px;
}

a {
    text-decoration: none;
}

.message > h1 {
    font-weight: 200;
    font-size: 40px;
    color: #7b7777;
    display: block;
    margin-top: 50px;
}

.message > h1 > a:hover {
    color: #234;
}

.message > h1 > a:visited {
    color: #7b7777;
}

.message > a.getintouch {
    display: block;
    margin-top: 20px;
    color: #AAA;
    height: 40px;
    text-align: center;
    width: 300px;
}


/* 
######################################################### 
######################################################### 
*/

div.content > div.proposal {
    margin: 0 auto;
    font-family: "HelveticaNeue-Thin";
}

a {
    color: #333;
}

div.content > img.logo {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

div.proposal > h2 {
    font-weight: 200;
}

div.proposal > h1 {
    font-weight: bold;
}

div.proposal > p {
    font-size: 20px;
}

div.proposal a, footer a {
    text-decoration: underline;
}

footer {
    display: block;
    text-align: center;
    display: block;
    margin-top: 50px;
    padding-bottom: 50px;
}
footer > div.footer {
    font-weight: lighter;
    color: #AAA;
    font-size: 12px;
}

div.footer span.author {
    color: #888;
    font-weight: bolder;
}

@media(max-width:414px) {
    div.content > div.proposal {
        width: 100%;
        padding: 0px 20px;
    }

    div.proposal > h1 {
        text-align: left;
    }

    div.proposal > p {
        text-align: justify;
    }
}

@media(min-width:415px) {
    div.content > div.proposal {
        width: 80%;
    }
}

@media(min-width:737px) {
    div.content > div.proposal {
        width: 500px;
    }
}
